@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* @import url("https://unpkg.com/swiper/css/swiper.css");
@import url("https://unpkg.com/swiper/css/swiper.min.css"); */


body {
  margin: 0;
  padding: 0;
  background-color: hsl(208, 33%, 9%);
  user-select: none;
  font-size: 16px;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 3.5rem; */
  background-color: hsl(210, 28%, 14%);
  padding: 1rem 2rem;
}

.navbar-left {
  display: flex;
  align-items: center;
}



.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  transition: 0.2s;
}

.nav-link:hover {
  color: hsl(0, 0%, 75%);
  
}

.logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

/* Navbar right */

.navbar-right {
  display: flex;
  align-items: center;
}

.search-form {
    display: flex;
    align-items: center;
 
}

.search-bar {
  font-size: 1rem;
  border: 0.05em solid grey;
  border-style: solid solid solid none;
  background: transparent;
  padding: 0.35em 0;
  color: white;
  outline: none;
}

::placeholder{
  color: grey;
}




.navbar-right .btn {
  /* padding: 0 !important; */
  font-size: 1rem;
  padding: 0.2em 0.5em 0em 0.5em;
  background-color: transparent;
  outline: none;
  border: 0.05em solid grey;
  border-style: solid none solid solid;
  color: grey;
  cursor: pointer;
  transition: 0.2s
}

.btn:hover {
  color:white;

}

.user-name {
  margin-left: 1rem !important;
  margin-right: 0 !important;
  display: flex;
  align-items: center;
  color: grey !important;
}

.user-name .material-icons {
  margin-right: 0.5rem;
}

.user-name:hover{
  color: white !important;
}

/* Hero slider */
.hero-slider {
  position: relative;
}



.hero-slider .swiper-slide {
  position: relative !important;
  overflow: hidden !important;
  height: 20rem;
  /* max-height: 34vh; */
}

.hero-slider img {
  position:relative;
  bottom: 5rem;
  width:100vw;
  cursor: pointer;
}

.hero-slider .swiper-pagination-bullet {
  background-color: white !important;
}

/* Movie sliders */

.movie-list {
  /* display: flex; */
  margin-left: 2rem;

}

.movie {
  /* margin-right: 0.5rem; */
  transition: 0.2s;
  cursor: pointer;
}


.movie:hover {
  transform: scale(1.1);
 
}

.swiper-container {
  overflow: visible !important;
}


.movie img {
  height: 15rem;
  object-fit: cover;
  transition: 0.3s;

}

.slider-heading {
  margin: 1rem 0 0.5rem 3rem;
}

.swiper-button-next {
  color: white !important;
}

.swiper-button-prev {
  color: white !important;
}

/* Movie details page */

.movie-details {
  max-width: 90rem;
  margin: auto;
  position: relative;
}

.movie-left{
  max-width: 45rem;
  padding-top: 2rem;
  padding-left: 1rem;
}

.movie-right {
  /* border: 1px solid blue; */
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  max-width: 60rem;
}

.movie-right img {
  width: 100%;
 }

.overlay1 {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(to right, #0f171f, rgba(15, 23, 31, 0.4), transparent);
  
}
.overlay2 {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(to top, #0f171f, rgba(15, 23, 31, 0.1), transparent);
  
}

 dl {
   display: flex;
   margin: 0;
 }

 dt {
   color: #8197a4;
   font-weight: bold;
   flex-basis: 15%;
 }

 dd {
  color: #8197a4;
  flex-basis: 70%;
 }

 .movie-details p {
   margin: 1rem 0;
 }

 .badges {
   padding-top: 1rem;
  color: #8197a4;

 }

 .badges span {
   margin:0 0.7rem 0 0;
   font-weight: bold;
 }

 .movie-left button {
   color: white !important;
   display:flex;
   justify-content: center;
   align-items: center;
   font-size: 1rem;
   padding: 0.5em 1.4em 0.5em 1em;
   background-color: #1399de;
   outline: none;
   border: none;
   cursor: pointer;
   border-radius: 0.2em;
   margin-top: 2rem;
 }

 .movie-left button:hover {
   background-color: hsl(200, 84%, 57%);
 }
 .movie-left .material-icons {
  font-size: 2rem;
 }

 .movie-left a {
   text-decoration: none;
   color: #1399de;
 }

 /* Search page */
.search-res-header {
  max-width: 80rem;
  margin:auto;
  padding: 2rem 2rem 0 2rem;
}

 .search-res-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 80rem;
   margin:auto;
 }

 .result-card {
   width: 20rem;
   height: 10rem;
   overflow:hidden;
   margin: 0.5rem;
   display: flex;
   align-items: center;
   background-color: #1b2530;
   border-radius: 0.2rem;
   cursor: pointer;
   transition: 0.2s;
 }

 .result-card:hover {
   transform: scale(1.2);
   box-shadow: 0px 1px 10px hsl(0, 0%, 0%);


 }

 .result-card img {
   height: 100%;
 }

.result-card p {
  color: #7c929e
}

 .result-card-right {
   height: 90%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   padding: 0 1rem;
}

