@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  padding: 0;
  background-color: hsl(208, 33%, 9%);
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 3.5rem; */
  background-color: hsl(210, 28%, 14%);
  padding: 1rem 2rem;
}

.navbar-left {
  display: flex;
  align-items: center;
}



.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  transition: 0.2s;
}

.nav-link:hover {
  color: hsl(0, 0%, 75%);
  
}

.logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

/* Navbar right */

.navbar-right {
  display: flex;
  align-items: center;
}

.search-form {
    display: flex;
    align-items: center;
 
}

.search-bar {
  font-size: 1rem;
  border: 0.05em solid grey;
  border-style: solid solid solid none;
  background: transparent;
  padding: 0.35em 0;
  color: white;
  outline: none;
}

::placeholder{
  color: grey;
}




.navbar-right .btn {
  /* padding: 0 !important; */
  font-size: 1rem;
  padding: 0.2em 0.5em 0em 0.5em;
  background-color: transparent;
  outline: none;
  border: 0.05em solid grey;
  border-style: solid none solid solid;
  color: grey;
  cursor: pointer;
  transition: 0.2s
}

.btn:hover {
  color:white;

}

.user-name {
  margin-left: 1rem !important;
  margin-right: 0 !important;
  display: flex;
  align-items: center;
  color: grey !important;
}

.user-name .material-icons {
  margin-right: 0.5rem;
}

.user-name:hover{
  color: white !important;
}

/* Movie sliders */

.movie-list {
  display: flex;
  margin-left: 1rem;

}

.movie {
  margin-right: 0.5rem;
}

.movie img {
  height: 15rem;
  object-fit: cover;
  transition: 0.3s;

}

.slider-heading {
  margin: 1rem 0 0.5rem 1rem;
}